@charset "utf-8";
/* reset */
body, p {margin:0;padding:0;}
html {
  overflow: hidden;
}

body {
  height: 90vh;
  margin: 5vh;
}

body::before{
  background-image:url('https://source.unsplash.com/512x512/?graphic');
  background-size: 100vmax;
  background-repeat:no-repeat;
  opacity: 0.2;

  filter: blur(50px);

  z-index: -1; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  transform: scale(1.2);
}

.header {
  width: 100%;
  
  color:#7673ff;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:900;
  font-size: 5vh;
  text-align:center;

  text-shadow: 3.536px 3.536px 20px rgba(92, 82, 212, 0.15),
  2.828px 2.828px 5px rgba(43, 39, 89, 0.07),
  -4.096px -2.868px 20px rgba(255, 255, 255, 0.25);
}

.artist {
  height: 80vh;

  font-size:45px;
  margin: 0 auto;
  color:#A9A4F0;  
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

#A1 {
  color:#A9A4F0;  
  font-size:25px; 
}

.art {
  padding-left: 10%;
  padding-right: 10%;
  font-size:45px;
  margin: 0 auto;
  text-align:center;
}

#mdtibox {
  width: min(80vw, 50vh);
  height: auto;
  /* height: auto;  */
  background-color:#f4f4f9;  
  box-shadow: 3.536px 3.536px 10px 0px rgba(2, 7, 24, 0.02),
  10.607px 10.607px 20px 0px rgba(79, 110, 243, 0.05),
  -6.364px -6.364px 30px 0px rgba(255, 255, 255, 0.72);
  
  border-radius: 15px;
  text-align:center;

  position: absolute;
  bottom: 0px;
}

#title {
  color:#8177ff;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 4vmin;
  font-size: calc(min(80vw, 50vh)/12);

  padding-top:calc(min(80vw, 50vh)/24);
  text-shadow: 0px 0px 80px rgba(129, 119, 255, 0.5);
}

#artist_2 {
  color:#8177ff;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: calc(min(80vw, 50vh)/24);
  
  text-shadow: 0px 0px 80px rgba(129, 119, 255, 0.5);

  line-height: calc(min(80vw, 50vh)/36);
}

#img {
  width:100%; 
  height:100%;
  border-radius: 15px;

  box-shadow: -6.364px -6.364px 30px 0px rgba(255, 255, 255, 0.004),
  10.607px 10.607px 20px 0px rgba(79, 110, 243, 0.05),
  3.536px 3.536px 10px 0px rgba(2, 7, 24, 0.02);
}

#img-padding {
  padding: calc(min(80vw, 50vh)/16);
}

#tag {
  background-color:#f7f7fa;
  box-shadow: -6.364px -6.364px 30px 0px rgba(255, 255, 255, 0.004),
  10.607px 10.607px 20px 0px rgba(79, 110, 243, 0.05),
  3.536px 3.536px 10px 0px rgba(2, 7, 24, 0.02);
  border-radius: 15px;

  color: #a9a4f0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size:calc(min(80vw, 50vh)/18);

  padding: calc(min(80vw, 50vh)/144);
  margin: calc(min(80vw, 50vh)/144);
  
}

#tags {
  display: flex;
  flex-wrap: wrap;
}